#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
}

#background:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;  
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(18% 28% at 24% 50%, #053597 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #0859fc 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #0750e340 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #021b4c 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #0859fc40 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #0647ca40 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #021b4c 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #0750e340 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #021232 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #032465 24%, #073AFF00 100%),linear-gradient(125deg, #042d7e 1%, #010919 100%);
    animation: anime 30s infinite;
}

@keyframes anime {
    0% {
        top: 0;
    }
    50% {
        top: -100%; 
    }
    100% {
        top: 0;
    }
}

@-webkit-keyframes anime {
    0% {
        top: 0;
    }
    50% {
        top: -100%; 
    }
    100% {
        top: 0;
    }
}

#dartboard {
    position: relative;
    aspect-ratio: 1 / 1;
    width: auto;
    height: auto;
    max-height: 90dvh;
    margin: 0 auto;
    z-index: 0;
    border-radius: 50%;
    background: oklch(0.21 0.034 264.665);
    border: 3px solid oklch(0.21 0.034 264.665);
}

    .inner-bull, .outer-bull {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
    }

    .inner-bull {
        height: 5%;
        width: 5%;
        background: oklch(0.13 0.028 261.692);
        z-index: 7;
    }

    .outer-bull {
        height: 10%;
        width: 10%;
        background: oklch(0.446 0.03 256.802);
        z-index: 6;
    }

    .slice {
        appearance: none;
        border: 0px solid transparent;
        background: transparent;
        padding-block-start: 0px;
        padding-block-end: 0px;
        padding-inline-start: 0px;
        padding-inline-end: 0px;
        top: 50%;
        left: 50%;
        position: absolute;
        height: 50%;
        width: 11.75%;
        transform-origin: bottom;
        transform: translateZ(0);
        display: flex;
        flex-direction: column-reverse;
        clip-path: polygon(0 0, 100% 0, 100% 25%, 52% 100%, 49% 100%, 0 26%);
        transition: all 0.3s ease-in-out;

        .section-a, .section-s, .section-m, .section-d {
            transition: all 0.3s ease-in-out;
        }

        &:hover, &:focus-visible {
            .section-a:not(.active-blue), .section-s:not(.active-yellow), .section-m:not(.active-pink), .section-d:not(.active-purple), .number span {
                    filter: contrast(25%);
            }

            .section-a.active-blue {
                background-color: oklch(0.882 0.059 254.128);
            }

            .section-s.active-yellow {
                background-color: oklch(0.973 0.071 103.193);
            }

            .section-m.active-pink {
                background-color: oklch(0.899 0.061 343.231);
            }

            .section-d.active-purple {
                background-color: oklch(0.811 0.111 293.571);
            }

            cursor: pointer;
        }

        &:focus-visible {
            outline: none;

            .number {
                outline: oklch(0.707 0.165 254.624) auto 1px;
            }
        } 
    }

    .section-a {
        height: 35%;
        width: 100%;

        &.dark {
            background-color: oklch(0.13 0.028 261.692);
        }
    
        &.light {
            background-color: oklch(0.967 0.003 264.542);
        }

        &.active-blue {
            background-color: oklch(0.809 0.105 251.813);
        }
    }
    .section-s {
        height: 5%;
        width: 100%;

    
        &.dark {
            background-color: oklch(0.278 0.033 256.848);
        }
    
        &.light {
            background-color: oklch(0.446 0.03 256.802);
        }

        &.active-yellow {
             background-color: oklch(0.945 0.129 101.54);
         }
    }
    
    .section-m {
        height: 30%;
        width: 100%;


        &.dark {
            background-color: oklch(0.13 0.028 261.692);
        }
    
        &.light {
            background-color: oklch(0.967 0.003 264.542);
        }

        &.active-pink {
            background-color: oklch(0.823 0.12 346.018);
        }
    }
    
    .section-d {
        height: 5%;
        width: 100%;


        &.dark {
            background-color: oklch(0.278 0.033 256.848);
        }

        &.light {
            background-color: oklch(0.446 0.03 256.802);
        }

        &.active-purple {
            background-color: oklch(0.702 0.183 293.541);
        }
    }
    
    .number {
        height: 25%;
        width: 100%;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        color: oklch(0.967 0.003 264.542);
    }

    #slice-1 {
        transform: translate(-50%, -100%) rotate(18deg);
    }

    #slice-2 {
        transform: translate(-50%, -100%) rotate(144deg);
    }

    #slice-3 {
        transform: translate(-50%, -100%) rotate(180deg);
    }

    #slice-4 {
        transform: translate(-50%, -100%) rotate(54deg);
    }

    #slice-5 {
        transform: translate(-50%, -100%) rotate(342deg);
    }
    
    #slice-6 {
        transform: translate(-50%, -100%) rotate(90deg);
    }

    #slice-7 {
        transform: translate(-50%, -100%) rotate(216deg);
    }

    #slice-8 {
        transform: translate(-50%, -100%) rotate(252deg);
    }

    #slice-9 {
        transform: translate(-50%, -100%) rotate(306deg);
    }

    #slice-10 {
        transform: translate(-50%, -100%) rotate(108deg);
    }

    #slice-11 {
        transform: translate(-50%, -100%) rotate(270deg);
    }

    #slice-12 {
        transform: translate(-50%, -100%) rotate(324deg);
    }

    #slice-13 {
        transform: translate(-50%, -100%) rotate(72deg);
    }

    #slice-14 {
        transform: translate(-50%, -100%) rotate(288deg);
    }

    #slice-15 {
        transform: translate(-50%, -100%) rotate(126deg);
    }

    #slice-16 {
        transform: translate(-50%, -100%) rotate(234deg);
    }

    #slice-17 {
        transform: translate(-50%, -100%) rotate(162deg);
    }

    #slice-18 {
        transform: translate(-50%, -100%) rotate(36deg);
    }

    #slice-19 {
        transform: translate(-50%, -100%) rotate(198deg);
    }

    #slice-20 {
        transform: translate(-50%, -100%) rotate(0deg);
    }